version: "3.9"

services:
  db:
    image: postgres:15-alpine
    container_name: quiz-db-main
    environment:
      POSTGRES_DB: quizapp      # your main DB
      POSTGRES_USER: quiz       # main DB user
      POSTGRES_PASSWORD: quizpass  # must be non-empty
    ports:
      - "5432:5432"             # host:container
    volumes:
      - main-db-data:/var/lib/postgresql/data

volumes:
  main-db-data:
